* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: rgb(219, 230, 233);
}

header{
  background-color: white;
  margin-bottom: 3rem;
}

header img{
  height: 40px;
  margin-top: 20px;
  margin-left: 20px;
}

h1{
  display: inline-block;
  font-weight: 900;
  vertical-align: auto;
}

.buttons-div{
  width: 700px;
  height: 4rem;
  margin: 0 auto;
  background-color: white;
}

.button{
  margin: 10px 0px 5px 15px;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
}

button.add-task{
  margin-left: 40px;
  color: white;
  background-color: skyblue;
  border: none;
}

button.add-section{
  color: lightgray;
  background-color: white;
  border: 1px solid lightgray;

}

section.list{
  width: 700px;
  height:900px;
  background-color: white;
  margin: 5px auto;
  padding: 50px;
}